body{
        background: linear-gradient(rgb(235, 98, 120), rgb(69, 69, 243));
}

.box{
    height: 200px;
    width: 200px;
    background-color: crimson;
    margin: 10px;
}

.container-div{
        width: 1200px;
        display: grid;
        border: 3px solid greenyellow;
        /* grid-template-columns: 100fr 100fr 50fr;    */
        grid-template-rows: 100px 150px 150px; 
        justify-content: center;
        align-items: center;
}